* {
    padding: 0px;
    margin: 0px;
}

.feed_bubble {
    width: 400px;
    height: 100px;
    border: 2px solid black;
    /* display: flex; */
}

.top_part {
    display: flex;
    width: 100%;
}